#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 8px;
}

.grid-child {
  border: 1px solid black;
  padding: 5px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 25%);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  margin-bottom: 20px;
}

form>button {
  grid-column-start: span 2;
}

form>label {
  text-align: left;
}

.player-name {
  display: flex;
  justify-content: center;
}

.player-name>span {
  cursor: pointer;
  margin-left: 5px;
}

.details {
  text-align: left;
  margin-top: 34.304px
}

.details-button {
  text-align: center;
}